.swiper {
    width: 100%;
    height: 100%;
    --swiper-navigation-color: #6A6AE4;
    --swiper-pagination-color: #6A6AE4;
    --swiper-navigation-size: 44px;
    --swiper-navigation-top-offset: 40%;
    --swiper-pagination-bullet-size: 8px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.creationTitle{
    color: #D4D4D4;
    font-size: 1.6rem;
    font-weight: bold;
}

.creationDes{
    color: #D4D4D4;
    font-size: 1.3rem;
}


.creationStack{
    color: #B3C3FF;
    font-weight: bold;
    font-size: 1.2rem;
}

.creationDate{
    color: #B3B3B3;
    font-weight: bold;
    font-size: 1.1rem;
}

.creationImage{
    border-radius: 14px;
    transition: all 0.3s ease-in-out;

}

.creationImage:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}

.creationImages{
    gap: 10px;
    margin-top: 20px;
}

.mainImage{
    border-radius: 15px;
}

@media (max-width: 1199px){
    /* Large */
    .creationTitle{
        font-size: 1.3rem;
    }

    .creationDes{
        font-size: 1rem;
    }

    .creationStack{
        font-size: 0.9rem;
    }

    .creationDate{
        font-size: 0.8rem;
    }

    .creationImage{
        border-radius: 10px;
    }

    .creationImages{
        margin-top: 30px;
        gap:5px;
    }

    .mainImage{
        border-radius: 10px;
    }

    .swiper{
        --swiper-navigation-size: 25px;
        --swiper-navigation-top-offset: 30%;
        --swiper-pagination-bullet-size: 7px;
    }
}

@media (max-width: 991px){
    /* Medium */
    .creationTitle{
        font-size: 1.1rem;
    }

    .creationDes{
        font-size: 0.9rem;
    }

    .creationStack{
        font-size: 0.8rem;
    }

    .creationDate{
        font-size: 0.7rem;
    }

    .creationImage{
        border-radius: 8px;
    }

    .creationImages{
        margin-top: 20px;
        gap:5px;
    }

    .mainImage{
        border-radius: 8px;
    }

    .swiper{
        --swiper-navigation-size: 25px;
        --swiper-navigation-top-offset: 30%;
        --swiper-pagination-bullet-size: 7px;
    }
}

@media (max-width: 767px){
    /* Small */
    .creationTitle{
        font-size: 1rem;
    }

    .creationDes{
        font-size: 0.8rem;
    }

    .creationStack{
        font-size: 0.7rem;
    }

    .creationDate{
        font-size: 0.6rem;
    }

    .creationImage{
        border-radius: 6px;
    }

    .creationImages{
        margin-top: 15px;
        gap:5px;
    }

    .mainImage{
        border-radius: 6px;
    }
}

@media (max-width: 575px){
    /* Extra Small */
    .creationTitle{
        font-size: 0.9rem;
    }

    .creationDes{
        font-size: 0.7rem;
    }

    .creationStack{
        font-size: 0.6rem;
    }

    .creationDate{
        font-size: 0.5rem;
    }

    .creationImage{
        border-radius: 4px;
    }

    .creationImages{
        margin-top: 10px;
        gap:5px;
    }

    .mainImage{
        border-radius: 4px;
    }

    .swiper{
        --swiper-navigation-size: 20px;
        --swiper-navigation-top-offset: 25%;
        --swiper-pagination-bullet-size: 5px;
    }
}