.creationsC{
    margin-top: 75px;
    max-height: max-content;
    height: 789px;
}

.activeCreation{
    justify-content: flex-start;
    align-items: center;
    animation: slide 0.5s ease-in-out;
    max-height: 100%;
    height: 100%;
    gap: 25px;
}

.activeCreationVideo{
    border-radius: 50px;
    width: 50vw;
}

.creationImageC{
    max-height: 100%;
    height: 100%;
    justify-content: space-between;
}

.creationImagePhone{
    display: none;
}

.creationImage{
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.creationImage:hover{
    transform: scale(1.1);
}

.creationTitle{
    color: #D4D4D4;
    font-size: 1.5rem;
    font-weight: bold;
}

.creationDes{
    color: #D4D4D4;
    font-size: 1.3rem;
    width: 90%;
}

.creationStack{
    color: #B3C3FF;
    font-weight: bold;
}

.creationDate{
    color: #B3B3B3;
    font-weight: bold;
}

.creationLinks{
    width: 90%;
    font-size: 1.3rem;
    gap: 20px;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translatey(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.activeCreationAnimation-enter{
    opacity: 0;
    transform: translateY(50%);
}

.activeCreationAnimation-enter-active{
    opacity: 1;
    transform: translateY(0%);
    transition: all .5s ease-in-out;
}

.activeCreationAnimation-exit{
    display: none;
    transform: display 0.3s ease-in-out;
}

.activeCreationAnimation-exit-active{
    opacity: 0;
    display: none;
    transform: display 0.3s ease-in-out;
}

.button{
    width: fit-content;
    padding: 7px 20px;
    font-size: 1rem;
    background-color: #4D4D4D;
    color: #B3C3FF;
    border-radius: 6px;
    transition: color 0.5s ease, background-color 0.5s ease, border 0.5s ease;
    cursor: pointer;
    animation: slide 0.5s ease-in-out;
}

.button:hover{
    background-color: #5E5E5E;
}

@media (max-width: 1200px){
    .creationsC{
        height: 650px;
    }

    .creationImage{
        width: 125px;
    }

    .creationImagePhone{
        width: 120px;
    }

    .creationImageC{
        height: 600px;
    }

    .activeCreationVideo{
        width: 600px;
    }

    .creationTitle{
        font-size: 1.1rem;
    }

    .creationDes{
        font-size: 0.9rem;
    }

    .creationDate{
        font-size: 0.9rem;
    }

    .creationStack{
        font-size: 0.8rem;
    }

    .button{
        font-size: 1rem;
        padding: 7px 12px;
    }
}


@media (max-width: 900px) {
    /* Change the breakpoint (576px) to your preferred size for mobile devices */

    .creationsC{
        height: 500px;
    }

    .creationImageC{
        height: 550px;
        align-items: center !important;
    }

    .creationImage{
        width: 110px;
    }

    .activeCreation{
        align-items: center;
    }

    .activeCreationVideo{
        width: 500px;
        border-radius: 20px;
    }

    .creationTitle{
        font-size: 1.1rem;
    }

    .creationDes{
        text-align: center;
    }

    .creationDate{
        font-size: 1rem;
    }

    .creationDes{
        font-size: 1rem;
    }

    .creationStack{
        font-size: 1rem;
    }
    
}

@media (max-width: 576px) {
    /* Change the breakpoint (576px) to your preferred size for mobile devices */
    .creationsC{
        margin-top: 20px;
    }

    .creationImageCPhone{
        display: flex !important;
    }

    .creationImage{
        display: none;
    }

    .creationImageC{
        height: auto;
    }

    .creationImageCPhone{
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .creationImagePhone{
        display: flex;
        width: 80px;
        border-radius: 10px;
    }

    .activeCreation{
        align-items: center;
        height: 475px;
    }

    .activeCreationVideo{
        width: 300px;
        border-radius: 20px;
    }

    .button{
        font-size: .5rem;
        padding: 7px 12px;
    }

    .creationsC{
        height: auto;
    }

    .creationLinks{
        width: 75%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .creationDes{
        text-align: center;
    }

    .creationTitle{
        font-size: 1rem;
    }

    .creationDate{
        font-size: .8rem;
    }

    .creationDes{
        font-size: .8rem;
    }

    .creationStack{
        font-size: .7rem;
    }
   
}