.landing{
    width: fit-content;
    font-weight: 700;
    color: rgba(252, 244, 219, 0.65);
    height: auto;
    justify-content: space-evenly;
}

.title{
    font-size: 4.5rem;
}

.name{
    color: #6A6AE4
}

.description{
    font-size: 2.5rem;
}

.spacing{
    margin: 50px 0px;
}

.hoverButton{
    width: fit-content;
    padding: 20px 35px;
    font-size: 1.8rem;
    background-color: transparent;
    color: rgba(252, 244, 219, 0.65);
    border: 3px solid rgba(252, 244, 219, 0.65);
    transition: color 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}

a:hover{
    text-decoration: none;
}

.hoverButton:hover{
    background-color: #4D4D4D;
    color: #B3C3FF;
    border: 3px solid #4D4D4D;
}

#role {
    width: 24ch;
    animation: typing 2.5s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #6A6AE4;
}

@keyframes typing {
    from {
        width: 0;
    }
    to{
        width: 24ch;
    }
}
    
@keyframes blink {
    50% {
        border-color: transparent
    }
}




@media (max-width: 900px) {
    /* Change the breakpoint (576px) to your preferred size for mobile devices */
    .landing{
        font-weight: 500;
    }
    
    .title{
        font-size: 3.1rem;
    }
    
    .name{
        color: #6A6AE4
    }
    
    .description{
        font-size: 1.8rem;
    }
    
    .spacing{
        margin: 25px 0px;
    }
    
    .hoverButton{
        padding: 10px 20px;
        font-size: 1.5rem;
    }

    #role {
        width: 23ch;
        border-right: 2px solid #6A6AE4;
    }

}

@media (max-width: 576px) {
    /* Change the breakpoint (576px) to your preferred size for mobile devices */
    .landing{
        font-weight: 300;
    }
    
    .title{
        font-size: 2rem;
    }
    
    .name{
        color: #6A6AE4
    }
    
    .description{
        font-size: 1.1rem;
    }
    
    .spacing{
        margin: 25px 0px;
    }
    
    .hoverButton{
        padding: 5px 10px;
        font-size: 1rem;
    }

    #role {
        width: 23ch;
        border-right: 2px solid #6A6AE4;
    }

  }