.activeExp{
    margin-top: 75px;
    animation: slide 0.5s ease-in-out;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translatey(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.activeExpAnimation-enter{
    opacity: 0;
    transform: translateY(50%);
}

.activeExpAnimation-enter-active{
    opacity: 1;
    transform: translateY(0%);
    transition: all .5s ease-in-out;
}

.activeExpAnimation-exit{
    display: none;
    transform: display 0.3s ease-in-out;
}

.activeExpAnimation-exit-active{
    opacity: 0;
    display: none;
    transform: display 0.3s ease-in-out;
}

a{
    transition: all 0.3s ease-in-out;
}

a:hover{
    transform: scale(1.1);
}

.expImage{
    border-radius: 50px;
}

.expTitle{
    color: #D4D4D4;
    font-size: 1.4rem;
    font-weight: bold;
}

.expDes{
    color: #D4D4D4;
    font-size: 1.3rem;
    margin-left: 20px;
    text-align: center;
}

.expStack{
    color: #B3C3FF;
    font-weight: bold;
}

.expDate{
    color: #B3B3B3;
    font-weight: bold;
}

.expLink{
    color: lightgray;
    font-weight: bold;
    text-decoration: none;
}

.cards{
    margin-top: 100px;
}

.cardC{
    cursor: pointer;
    background-color: #4D4D4D;
    border-radius: 10px;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.cardC:hover{
    background-color: #5E5E5E;
    transform: scale(1.05);
    transition: transform 0.5s;
}

.cardImg{
    border-radius: 30px;
    margin: 20px;
    margin-top: 30px;
}

.cardContent{
    margin: 20px;
    font-size: 1.1rem;
    font-weight: bold;
}

.cardTitle{
    color: #D4D4D4;
}

.cardSub{
    margin-top: 10px;
    color: #B3B3B3;
    text-align: center;
}

.cardStack{
    margin-top: 10px;
    color: #B3C3FF;
    text-align: center;
}

.underline{
    text-decoration: underline;
}

@media (max-width: 1199px){
    /* Large */
    .activeExp{
        margin-top: 50px;
    }

    .expImage{
        border-radius: 25px;
        width: 125px;
    }

    .expTitle{
        font-size: 1.1rem;
    }

    .expDes{
        margin-top: 15px;
        font-size: .9rem;
        text-align: center;
    }

    .cards{
        margin-top: 50px;
        gap: 0px;
    }

    .cardImg{
        width: 100px;
        border-radius: 15px;
        margin: 15px;
    }

    .cardContent{
        margin: 15px;
        align-content: center;
        justify-content: center;
        width: 100%;
    }

    .cardTitle{
        font-size: .8rem;
    }

    .cardSub{
        font-size: .7rem;
    }

    .cardStack{
        font-size: .6rem;
    }
}



@media (max-width: 991px) {
    /* XS & Small & Medium */
    .activeExp{
        margin-top: 40px;
    }

    .expImage{
        border-radius: 25px;
        width: 125px;
    }

    .expDes{
        margin-top: 15px;
        font-size: .8rem;
        text-align: center;
    }

    .expTitle{
        font-size: 1rem;
    }

    .cards{
        margin-top: 50px;
        gap: 0px;
    }

    .cardC{
        flex-direction: row;
        align-items: center;
        width: 85%;
        margin-bottom: 20px;
    }

    .cardImg{
        width: 80px;
        border-radius: 15px;
        margin: 15px;
    }

    .cardContent{
        margin: 15px;
    }

    .cardTitle{
        font-size: .8rem;
    }

    .cardSub{
        font-size: .6rem;
    }

    .cardStack{
        font-size: .6rem;
    }
}