.navLinks {
  font-weight: 700;
  color: #B3C3FF;
  transition: color 0.3s ease-in-out, border .3s ease;
  padding: 3px;
  cursor: pointer;
}

.navLinks:hover {
  color: #E6E6E6;
  cursor: pointer;
}

.links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.linkColor{
    color: #B3C3FF;
}

.linkColor:hover{
    color: #E6E6E6;
}
.navContainer{
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: flex-end;
    position: fixed;

}

@media (max-width: 1199px) {
  .navContainer{
    display:none
  }
}