.navLinks {
  font-weight: 700;
  color: #B3C3FF;
  transition: color 0.3s ease-in-out, border .3s ease;
  padding: 3px;
}

.navLinks:hover {
  color: #E6E6E6;
}

.links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.linkColor{
    color: #B3C3FF;
    transition: color 0.3s ease-in-out;
}

.linkColor:hover{
    color: #E6E6E6;
}

.navContainer{
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: flex-end;
    position: fixed;
}

.linkContainer{
    align-items: center;
    justify-content: center;
    padding: 10px;
}


@media (max-width: 576px) {
    /* Change the breakpoint (576px) to your preferred size for mobile devices */
    .linkContainer{
        display: none;
        padding: 0px;
    }

    .navContainer{
        height: fit-content;
    }

    .navLinks {
      display: none;
    }

    .links{
        display: none;
    }
  }